yandex-money-sdk-objc.xcodeproj/project.xcworkspace/contents.xcworkspacedata
yandex-money-sdk-objc.xcodeproj/project.xcworkspace/xcshareddata/yandex-money-sdk-objc.xccheckout
yandex-money-sdk-objc.xcodeproj/project.xcworkspace/xcuserdata/vjazov.xcuserdatad/UserInterfaceState.xcuserstate
yandex-money-sdk-objc.xcodeproj/project.xcworkspace/xcuserdata/vjazov.xcuserdatad/WorkspaceSettings.xcsettings
yandex-money-sdk-objc.xcodeproj/xcuserdata/vjazov.xcuserdatad/xcschemes/xcschememanagement.plist
yandex-money-sdk-objc.xcodeproj/xcuserdata/vjazov.xcuserdatad/xcschemes/ymcpssdk-ios.xcscheme
yandex-money-sdk-objc.xcodeproj/xcuserdata/vjazov.xcuserdatad/xcschemes/ymcpssdk-os.xcscheme
